:root {
	--theme-dark: hsl(195, 100%, 7%);
	--theme-brown: hsl(23, 85%, 62%);
	--theme-cyan: hsl(177, 72%, 21%);
	--theme-yellow: hsl(52, 100%, 66%);
	--theme-light: hsl(32, 100%, 97%);
	--font-sanSerif: 'Rubik', system-ui, Helvetica, sans-serif;
	--background-color: var(--theme-light);
	/* --background-color: white; */
	--text-color: var(--theme-dark);
}

body {
	background-color: var(--background-color);
	font-family: var(--font-sanSerif);
	color: var(--theme-dark);
	font-display: optional;
}

p,
li {
	line-height: 1.5;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--font-sanSerif);
}
body {
	margin: 0;
}
img {
	max-width: 100%;
}
a:any-link {
	color: var(--theme-cyan);
}

.card {
	border: 1px solid var(--theme-cyan);
	border-radius: 0.5em;
	padding: 1rem;
	flex: 1 1 320px;
	container-type: inline-size;
}


.card h3 {
	margin: 0;
}

a.card {
	transition: box-shadow 0.25s ease-in-out;
}

a.card {
	text-decoration: none;
	& p,
	& div {
		color: var(--text-color);
	}
}
a.card:hover {
	box-shadow: 3px 3px 3px grey;
}

/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

 code[class*="language-"],
 pre[class*="language-"] {
	 color: #f8f8f2;
	 background: none;
	 font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	 text-align: left;
	 white-space: pre;
	 word-spacing: normal;
	 word-break: normal;
	 word-wrap: normal;
	 line-height: 1.5;
 
	 -moz-tab-size: 4;
	 -o-tab-size: 4;
	 tab-size: 4;
 
	 -webkit-hyphens: none;
	 -moz-hyphens: none;
	 -ms-hyphens: none;
	 hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
	 padding: 1em;
	 margin: 0.5em 0;
	 overflow: auto;
	 border-radius: 0.3em;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
	 background: #2b2b2b;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
	 padding: 0.1em;
	 border-radius: 0.3em;
	 white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
	 color: #d4d0ab;
 }
 
 .token.punctuation {
	 color: #fefefe;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
	 color: #ffa07a;
 }
 
 .token.boolean,
 .token.number {
	 color: #00e0e0;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
	 color: #abe338;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
	 color: #00e0e0;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function {
	 color: #ffd700;
 }
 
 .token.keyword {
	 color: #00e0e0;
 }
 
 .token.regex,
 .token.important {
	 color: #ffd700;
 }
 
 .token.important,
 .token.bold {
	 font-weight: bold;
 }
 
 .token.italic {
	 font-style: italic;
 }
 
 .token.entity {
	 cursor: help;
 }
 
 @media screen and (-ms-high-contrast: active) {
	 code[class*="language-"],
	 pre[class*="language-"] {
		 color: windowText;
		 background: window;
	 }
 
	 :not(pre) > code[class*="language-"],
	 pre[class*="language-"] {
		 background: window;
	 }
 
	 .token.important {
		 background: highlight;
		 color: window;
		 font-weight: normal;
	 }
 
	 .token.atrule,
	 .token.attr-value,
	 .token.function,
	 .token.keyword,
	 .token.operator,
	 .token.selector {
		 font-weight: bold;
	 }
 
	 .token.attr-value,
	 .token.comment,
	 .token.doctype,
	 .token.function,
	 .token.keyword,
	 .token.operator,
	 .token.property,
	 .token.string {
		 color: highlight;
	 }
 
	 .token.attr-value,
	 .token.url {
		 font-weight: normal;
	 }
 }